/* main.css */
@import './variables.css';

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none; /* Safari y Chrome */
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6%; /* Ajustar esto según la altura del header */
  padding-bottom: 4%; /* Añadir padding-bottom para evitar la superposición del footer */
}

section {
  width: 100%; /* Ajustar el ancho de todas las secciones */
  margin: 0 auto; /* Centrar las secciones */
  padding: 2rem 0; /* Añadir padding vertical para espaciado */
  box-sizing: border-box;
}

.accordion-content p {
  color: var(--color-secondary);
}

body {
  background: linear-gradient(135deg, var(--color-background) 0%, var(--color-secondary) 100%);
  color: var(--color-text);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-background {
  width: 100%;
  height: 100%; /* O 100% si deseas que cubra todo el contenido */
  background: linear-gradient(270deg,
    rgba(99, 102, 241, 0.2),
    rgba(14, 165, 233, 0.2),
    rgba(244, 114, 182, 0.2),
    rgba(30, 41, 59, 0.2)
  );
  background-size: 800% 800%;
  animation: gradient-animation 30s ease infinite; /* Ajuste de velocidad */
}

@keyframes gradient-animation-reverse {
    0% {
      background-position: 100% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
}


.animated-background-reverse {
  width: 100%;
  height: 100%; /* O 100% si deseas que cubra todo el contenido */
  background: linear-gradient(270deg,
    rgba(99, 102, 241, 0.2),
    rgba(14, 165, 233, 0.2),
    rgba(244, 114, 182, 0.2),
    rgba(30, 41, 59, 0.2)
  );
  background-size: 800% 800%;
  animation: gradient-animation-reverse 30s ease infinite; /* Ajuste de velocidad */
}


.rexdevelop-text {
  font-size: 2rem;
  color: var(--color-primary);
}

.social-buttons {
  margin: 10px 0;
}

.social-button {
  text-decoration: none;
  margin: 2%;
  font-size: 1.5rem;
  color: var(--color-primary);
  transition: color 0.3s, transform 0.3s;
}

.social-button:hover {
  color: var(--color-accent);
  transform: scale(1.1);
}

footer {
  opacity: 0; /* Ocultar inicialmente */
  background-color: var(--color-background); /* Usar el color de fondo configurado en variables.css */
  color: var(--color-text); /* Usar el color de texto configurado en variables.css */
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: opacity 0.5s ease; /* Transición suave para la opacidad */
  backdrop-filter: blur(10px);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
