
/* Paleta de colores modernizada */
:root {
    --color-primary: #6366f1; /* Indigo 500 */
    --color-secondary: #0ea5e9; /* Sky 500 */
    --color-background: #f8fafc; /* Slate 50 */
    --color-accent: #f472b6; /* Pink 400 */
    --color-detail: #1e293b; /* Slate 800 */
    --color-text: #0f172a; /* Slate 900 */
  }
  